<footer>
	<div class="footer-top">
		<h2>Ghé thăm cửa hàng</h2>
		<p>Ngay hôm nay</p>
		<img src="assets/images/logo-cup.png">
		<a href="">VÀO SHOP CAFE</a>
		<ul> 
			<li>
				<a routerLink="/home">TRANG CHỦ</a>
			</li>
			<li>
				<a routerLink="/product">THỰC ĐƠN</a>
			</li>
			<li>
				<a href="#">THƯ VIỆN</a>
			</li>
			<li>
				<a href="#">LIÊN HỆ</a>
			</li>
		</ul>
	</div>
	<div class="footer-bottom">
		<div id="scrolltop"><i class="fa fa-angle-up"></i></div>
		© 2017 Bản quyền thuộc về Kiến Vàng. Cung cấp bởi Bizweb
	</div>
</footer>