<div class="page">
	<div class="container">
		<div class="row">
			<div class="breakcrumb">
				<ul class="flex_center">
					<li>
						<a href="#">Trang chủ</a>
					</li>
					<li>
						<a href="#">Tin tức</a>
					</li>
				</ul>
			</div>
			<div class="page__content">
				<div class="page_title">
					<img src="../assets/images/mrcoffee.jpg" width="100%">
					<div class="page_title__content">
						<div class="flex_center">
							<img src="../assets/images/member1.jpg">
							Tác giả, Trần Như Thảo Trang
						</div>
						<h2>Vị cha đẻ của chiếc máy pha huyền thoại Mr Coffee</h2>
						<p>12/06/2017</p>
					</div>
				</div>
				<h1>Tin tức</h1>
				"Đi cà phê" từ lâu không đơn thuần chỉ là uống một tách cà phê mà còn là dịp gặp mặt và trò chuyện cùng bạn bè. Tại Coffee Và Bạn, chúng tôi trân trọng và đề cao giá trị kết nối giữa con người và trải nghiệm của khách hàng.
				Chúng tôi được truyền cảm hứng từ những tách cà phê và thức uống mình tạo ra. Chúng tôi tin tưởng mạnh mẽ rằng thức uống với chất lượng tốt nhất được phục vụ trong không gian thân thiện.
				<br>
				<div class="col-md-12 news-list">
						<div class="row news-item">
							<div class="col-md-4 news-item__img" style="background: url('../assets/images/new1.jpg');"></div>
							<div class="col-md-8 news-item__detail">
								<h3><a href="">Văn hóa uống cà phê của người Sài Gòn lên báo Anh</a></h3>
								<div>
									Bài viết trên tờ Telegraph (Anh) nhận định văn hóa thưởng thức cà phê ở TPHCM không giống như ở bất cứ nơi nào khác trên thế giới. Ở đây, cà phê là thức uống đem lại năng lượng cho người dân của cả một thành phố sôi động. Điều đầu tiên một du khách cần phải học khi đặt chân tới TPHCM, đó là biết cách qua đường. Đó là một thử thách hóc búa đòi hỏi...
								</div>
								<div class="flex_between">
									<div>
										<img class="img-circle" src="../assets/images/member1.jpg">
										Tác giả Nguyễn Chánh Bảo Chung
									</div>
									<a class="read-more" href="">Đọc thêm</a>
								</div>
							</div>
						</div>
						
					<div class="row" style="justify-content: flex-end;">
						<ul class="pagination">
							<li>
								<a href="#"><i class="fa fa-caret-left"></i></a>
							</li>
							<li>
								<a href="#">1</a>
							</li>
							<li class="is-active">
								<a href="#">2</a>
							</li>
							<li>
								<a href="#">3</a>
							</li>
							<li>
								<a href="#">4</a>
							</li>
							<li>
								<a href="#"><i class="fa fa-caret-right"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>
	
