<div class="page">
	<div class="container">
		<div class="row">
			<div class="breakcrumb">
				<ul class="flex_center">
					<li>
						<a href="#">Trang chủ</a>
					</li>
					<li>
						<a href="#">Giới thiệu</a>
					</li>
				</ul>
			</div>
			<div class="page__content">
				<h1>GIỚI THIỆU</h1>
				"Đi cà phê" từ lâu không đơn thuần chỉ là uống một tách cà phê mà còn là dịp gặp mặt và trò chuyện cùng bạn bè. Tại Coffee Và Bạn, chúng tôi trân trọng và đề cao giá trị kết nối giữa con người và trải nghiệm của khách hàng.
				Chúng tôi được truyền cảm hứng từ những tách cà phê và thức uống mình tạo ra. Chúng tôi tin tưởng mạnh mẽ rằng thức uống với chất lượng tốt nhất được phục vụ trong không gian thân thiện.
				<br>
				Tại Coffee Và Bạn, nguyên liệu làm ra cà phê và tất cả các loại thức uống đều được chọn lọc từ những nguồn cung ứng được kiểm định gắt gao, đáp ứng tiêu chuẩn chất lượng cao nhất. Và một “nguyên liệu” quan trọng hơn hết chúng tôi đưa vào từng sản phẩm là sự tâm huyết của cả đội ngũ nhân viên Coffee Và Bạn. 
				Niềm đam mê với hương vị, sự nhiệt thành khi phục vụ, kĩ năng pha chế được đào tạo chuyên sâu là tất cả những gì Coffee Và Bạn cam kết khi phục vụ bất kì sản phẩm nào cho khách hàng nhằm tạo ra trải nghiệm “đi cà phê” tốt nhất cho bạn.
			</div>
		</div>
	</div>	
</div>
	
