<div class="page">
  <div class="container">
    <div class="row">
      <div class="breakcrumb">
        <ul class="flex_center">
          <li>
            <a href="#">Trang chủ</a>
          </li>
          <li>
            <a href="#">Tất cả sản phẩm</a>
          </li>
        </ul>
      </div>
      <div class="sort">
        <span>Sắp xếp</span>
        <div class="dropdown">
          <span>{{typeSort}}</span>
          <ul>
            <li (click)="sort('Tên. A->Z','name','asc')">
              <a>Tên. A->Z</a>
            </li>
            <li (click)="sort('Tên. Z->A','name','dsc')">
              <a>Tên. Z->A</a>
            </li>
            <li (click)="sort('Giá. Cao->Thấp','price','dsc')">
              <a>Giá. Cao->Thấp</a>
            </li>
            <li (click)="sort('Giá. Thấp->Cao','price','asc')">
              <a>Giá. Thấp->Cao</a>
            </li>
          </ul>
        </div>
        <!-- <div class="zalo-share-button" data-href="http://developers.zalo.me" data-oaid="579745863508352884" data-layout="2" data-color="blue" data-customize=false></div> -->
      </div>
      <div class="page__content">
        <app-product-item [product_list]="product_list"></app-product-item>
        <ul class="pagination">
          <li (click)=getProductPage(pageActived-1)>
            <a><i class="fa fa-caret-left"></i></a>
          </li>
           <li [class.is-active]="pageActived==index+1" (click)=getProductPage(index+1) *ngFor="let a of getNumberPage(); let index = index">
            <a>{{ index + 1 }}</a>
          </li>
          <li (click)=getProductPage(pageActived+1)>
            <a><i class="fa fa-caret-right"></i></a>
          </li>
        </ul>
        <img class="image-ship" src="../assets/images/ship_image.jpg">
      </div>
    </div>
  </div>
</div>
